.custom-font {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.custom-navbar {
    background-color: transparent !important;
}

.custom-list-item {
    background-color: transparent !important;
    color:white;
    font-size: large;
    font-weight: 500;
}

.nav-link {
    color: white !important;
    font-weight: 'bold';
    font-size:x-large ;
}

.tab-container-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
}

.anunt-card {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.anunt-card-button {
    background-color: #4300fc;
}

.anunt-card-button:hover {
    background-color: #7948ff;
}

.add-anunt {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.add-anunt:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

img.poza-galerie {
    border: 3px solid black
}